*{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 80px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
<<<<<<< HEAD
}
=======
    margin-top:50px;
    margin-left:40px;
   
    

}


.body{
    background-color: green; 

}

>>>>>>> 7169f07a7f116844ed50ce95557bb3da6aeb25bf
