*{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    border: 0;
<<<<<<< HEAD

=======
>>>>>>> e94b44b777fdfc7f3c26fbedf2a1ce639afc108b
    font-size: 100px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
  




}

.body{
    background-color: green; 

}

